<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    <img src="{{ url_for('static', filename='images/images.jpg') }}">
    </style>
  </head>
  <body>
    <h1>Coding Dojo</h1>
    <p>We believe that anyone can learn to code! Martin Puryear and Jimmy Jun have a small discussion on learning to code effectively! then Kris Ekenes and Jay Patel talk about falling behind and the importance of measuring your progress to yourself.</p>
  </body>
</html>
