<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    <img src="{{ url_for('static', filename='images/images.jpg') }}">
    </style>
  </head>
  <body>
    <h1>I beleive i will be victorious in this course</h1>
    <p>i know that i am not alone in this journey. God will send in my way all kind of angel to help me through this pass and i will succeed in the name of God</p>
    <p>I can't explain why i am here but i know one thing, everything will be great because i count on it. This is my testimony. Everyone who think that i waste my time by coming in this course will be in chock my success because My God will help me to get through this pass.</p>
  </body>
</html>
