<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    <img src="{{ url_for('static', filename='images/images.jpg') }}">
    </style>
  </head>
  <body>
    <h1>Beatrice, you got this!</h1>
    <p>If you believe in yourself and have dedication and pride - and never quit, you'll be a winner. The price of victory is high but so are the rewards.</p>
    <h6>Paul Bryant</h6>
  </body>
</html>
